<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= label :name, "Name: " %>
  <%= form.text_field :name, placeholder: "Han Solo" %><br>
  <%= label :email, "Email: " %>
  <%= form.text_field :email, placeholder: "han@solo.com" %><br>
  <%= label :Homeplanet, "Homeplanet: " %>
  <%= form.text_field :homeplanet, placeholder: "Deathstar" %><br>
  <%= label :birthday, "Birthday: " %>
  <%= form.text_field :birthday, placeholder: "10.10.2000" %><br>
  <%= label :picture, "Picture: " %>
  <%= form.file_field :picture %>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
