<p id="notice"><%= notice %></p>

<div>
	<p>
		<%= "Mission name: #{@mission.name}" %>
	</p>
</div>
<br>
<div>
	<p>
		<%= "Mission captain: #{@mission.captain.name}" %>
	</p>
</div>
<br>
<div>
	<p>
		<%= "Mission aim: #{@mission.aim}" %>
	</p>
</div><br>
<div>
	<p>
		<%= "Mission description: #{@mission.description}" %>
	</p>
</div>



<%= link_to 'Edit', edit_mission_path(@mission) %>
<%= link_to 'Destroy', @mission, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', missions_path %>
