<!DOCTYPE html>
<html>
  <head>
    <title>Earth Colonizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcAYwR_Aino4zgyOIdzr5FFIBlpI3xYqA&callback=initMap">
  </script>
</html>
